<nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link active" href="#">Home
              <span class="visually-hidden">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Features</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Pricing</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Separated link</a>
            </div>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-sm-2" type="search" placeholder="Search">
          <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>

<div class="contenedor">
    <form>
        <fieldset>
          <legend> Cuestionario sobre juegos</legend>
          <div class="row">
            <label for="staticEmail" class="col-sm-2 col-form-label">Correo electrónico</label>
            <div class="col-sm-10">
              <input type="text" readonly="" class="form-control-plaintext" id="staticEmail" value="email@ejemplo.com">
            </div>
          </div>
          <div>
            <label for="exampleInputEmail1" class="form-label mt-4">Dirección de correo</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Ingresa tu correo">
            <small id="emailHelp" class="form-text text-muted">Esta información se pide con fines de contacto</small>
          </div>
          <div>
            <label for="exampleInputEmail1" class="form-label mt-4">Ingresa tu nombre o nickname</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Por ejemplo: Miguel_A5">
          </div>
          <div>
            <label for="exampleInputPassword1" class="form-label mt-4">¿Cuál es tu videojuego favorito?</label>
            <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Minecraft" autocomplete="off">
          </div>
          <div>
            <label for="exampleSelect1" class="form-label mt-4">¿Cuál es tu género de videojuegos favorito?</label>
            <select class="form-select" id="exampleSelect1">
              <option>Shooter</option>
              <option>Sandbox</option>
              <option>Juegos RPG, ARPG, etc</option>
              <option>Simulación y deportes</option>
              <option>Aventura o puzzles</option>
            </select>
          </div>
          <div>
            <label for="exampleSelect2" class="form-label mt-4">¿Cuántas horas juegas a la semana?</label>
            <select multiple="" class="form-select" id="exampleSelect2">
              <option>De 0 a 5</option>
              <option>De 5 a 10</option>
              <option>De 10 a 15</option>
              <option>De 15 a 20</option>
              <option>Más de 20</option>
            </select>
          </div>
          <div>
            <label for="exampleTextarea" class="form-label mt-4">¿Qué factores consideras al momento de elegir un videojuego?</label>
            <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
          </div>
          <fieldset>
            <legend class="mt-4">¿Qué consideras que tiene más valor en un juego?</legend>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked="">
              <label class="form-check-label" for="optionsRadios1">
                La calidad de los gráficos
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
              <label class="form-check-label" for="optionsRadios2">
                La jugabilidad e historia
              </label>
            </div>
          </fieldset>
          <fieldset>
            <legend class="mt-4">Seelecciona las sagas que conozcas</legend>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault">
                Assassin's Creed
              </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                  Devil may Cry
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                  Final Fantasy
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                  Halo
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                 Gears Of war
                </label>
              </div>

          </fieldset>
          <fieldset>
            <legend class="mt-4">¿Recientemente haz finalizado algún videojuego?</legend>
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
              <label class="form-check-label" for="flexSwitchCheckDefault">Si / No</label>
            </div>
            <div>
                <label for="exampleInputEmail1" class="form-label mt-4">¿Cómo se llamaba el juego?</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Call of Juarez">
              </div>
          </fieldset>
          <fieldset>
            <legend class="mt-4">Califícalo</legend>
              <label for="customRange1" class="form-label">Gráficos</label>
              <input type="range" class="form-range" id="customRange1">
              <label for="customRange3" class="form-label">Historia</label>
              <input type="range" class="form-range" min="0" max="5" step="0.5" id="customRange3">
              <label for="customRange3" class="form-label">jugabilidad</label>
              <input type="range" class="form-range" min="0" max="5" step="0.5" id="customRange3">
          </fieldset>
          <button type="submit" class="btn btn-primary">Submit</button>
        </fieldset>
        <div>
            <label for="exampleInputEmail1" class="form-label mt-4">¿Cuantos videojuegos tienes en tu bilbioteca?</label>
            <input type="email1" class="form-control1" id="exampleInputEma2il1" aria-describedby="emailHel1p" placeholder="Muchos">
          </div>
        <div>
            <label for="formFile" class="form-label mt-4">Adjunta evidencia</label>
            <input class="form-control" type="file" id="formFile">
            <br><br>
          </div>
      </form> 
</div>